include header
  .black-background

.maincontent
  include side-menu
  
  .container
    h2.category__title #{cat[0]['category']}

    ul.category__list
      each val, index in goods
        include item

    .category__desc #{cat[0]['description']}

include footer 