<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", href="/images/favicon-16x16.png", type="image/x-icon")
    link(rel="shortcut icon", href="/images/favicon-32x32.png", type="image/x-icon")

    title PrototypeShop | #{title}
  body
    .wrapper
      header.header
        .container.header__container
          .hamburger-menu
            .hamburger-menu__btn
              .circle
              .circle
              .circle
              .circle
              .circle

          .logo [PrototypeShop]
          .header__info
            a.phone(href="tel:+1999999999") +1(999)999-99-99
            address.address 1111 S Figueroa St, Los Angeles, CA 90015, USA


      