
form.login-form(action="/login" method="POST")
  label login
  input#login(type="text" name="login" value="admin")
  label password
  input#password(type="password" name="password" value="123")
  input(type="submit" value="LogIn")

//- script(src="js/login.js")
