extends index.pug
block content

  .maincontent
    .maincontent__black-background
    include side-menu

    main.auth_video(id="trailer")
      video(id="video" muted loop autoplay="autoplay" width="auto" height="400" )
        source(src="/video/video.mp4")

    
    
    
    each val2, index2 in cat
      .container.goods-container
        .goods-container__title
          h2
            a(href="/category?id="+val2['id']) #{val2['category']}
        .goods-container__items
          each val, index in goods
            if val2['id'] == val['category']
              include item


              