.side-menu

  .side-menu__block
    h3.side-menu__title Categories
    ul.side-menu__links

  .side-menu__block
    h3.side-menu__title Pages
    ul.side-menu__pages
      li.page-link
        a(href="/") Home
      li.page-link
        a(href="/contacts") Contacts
      li.page-link
        a(href="/possibilities") Possibilities

  .side-menu__block
    h3.side-menu__title Cart
    .side-menu__cart
    
