.goods-container__items{
  display: flex;
  justify-content: space-around;
}

.goods-container__title{
  margin-bottom: 20px;
  font-size: 25px;
}

.goods-container{
  margin-top: 70px;
}

.category__list{
  display: flex;
  flex-wrap: wrap;
}
